[project]
name = "test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "camoufox>=0.4.11",
    "faker>=40.1.0",
    "playwright>=1.57.0",
    "rich>=14.2.0",
]
